body{

{
#sosiedade esportiva palmeiras{
     width: 100%;
     {

        .prinsipal{
            background: #cccccc;
padding: 30px;
}

h1{
    text-align: center
}
em strong{
    color:darkred
}
.itens{
    font-style:italic
}

   h2{
   text-aling:center;
}
ul{
    display:incline-block;
    vertical-aling:top;
    wigth: 20%;
    margin-right: 15%;
}
.sosiedade esportiva palmeiras{
    width: 50%;
}
